ai-feedback-sorter.json
{
  "name": "Feedback Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Feedback Form",
        "formDescription": "User Feedback Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Type Your Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Type Your Correct Email Here",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact Info",
              "fieldType": "number",
              "placeholder": "Type Your Contact Number "
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "Type Your Feedback Here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -768,
        -144
      ],
      "id": "c059b64f-8f70-4e1e-8f91-46254a334930",
      "name": "On form submission",
      "webhookId": "49d9348a-fe7f-42f9-9238-6aa9699422cb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to determine if the feedback filled by the customer is a complain, a compliment or a feature addition request.\nThe Feedback Is {{ $json.Feedback }}\n\nYour response should be only one form the below\nComplain\nCompliment\nFeature Addition Request",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -544,
        -16
      ],
      "id": "ad188311-f03e-469f-a605-007bbe18472b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        208
      ],
      "id": "fb7ee1ed-dc89-4851-b1fc-23f6bdb86ec0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IUrMbzOhONYvsp4M",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        -144
      ],
      "id": "63e5e933-7b07-4ce5-a5b9-d3aa0ebb56b9",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ad7bd671-77ad-4ee5-8578-8bb010ef3021"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22f31ffa-7b15-4c4a-b4a2-6952da38b688",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "510e2476-6688-4ca2-835a-15f640afeb0d",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature Addition Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        32,
        -160
      ],
      "id": "225e7112-6b26-4349-8dc7-c3abcd269582",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqFcTKIDw9SAsZR",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://airtable.com/appqFcTKIDw9SAsZR"
        },
        "table": {
          "__rl": true,
          "value": "tblrlmpJ96Z4MrYiz",
          "mode": "list",
          "cachedResultName": "Complain",
          "cachedResultUrl": "https://airtable.com/appqFcTKIDw9SAsZR/tblrlmpJ96Z4MrYiz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Number": "={{ $json['Contact Info'] }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        256,
        -336
      ],
      "id": "8fe3abaa-3a2f-44a7-a403-fdf8cfbdbe29",
      "name": "Complain",
      "credentials": {
        "airtableTokenApi": {
          "id": "I5ZFaFG78R3PjdoJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqFcTKIDw9SAsZR",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://airtable.com/appqFcTKIDw9SAsZR"
        },
        "table": {
          "__rl": true,
          "value": "tblyjp92YFeWA7jlK",
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://airtable.com/appqFcTKIDw9SAsZR/tblyjp92YFeWA7jlK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Number": "={{ $json['Contact Info'] }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        256,
        -144
      ],
      "id": "14972997-f6f0-4f10-9916-3c8c468d855f",
      "name": "Compliment",
      "credentials": {
        "airtableTokenApi": {
          "id": "I5ZFaFG78R3PjdoJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqFcTKIDw9SAsZR",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://airtable.com/appqFcTKIDw9SAsZR"
        },
        "table": {
          "__rl": true,
          "value": "tblm4HSVhEnl9bVgB",
          "mode": "list",
          "cachedResultName": "Feature Addition Request",
          "cachedResultUrl": "https://airtable.com/appqFcTKIDw9SAsZR/tblm4HSVhEnl9bVgB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Number": "={{ $json['Contact Info'] }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json['Email Address'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        256,
        48
      ],
      "id": "f1e5b53c-cf0a-46b8-8d37-7faf6537ce32",
      "name": "Feature Request",
      "credentials": {
        "airtableTokenApi": {
          "id": "I5ZFaFG78R3PjdoJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09JKJJ4M2N",
          "mode": "list",
          "cachedResultName": "complain"
        },
        "text": "={{ $('Switch').item.json['Full Name'] }}\n\n{{ $('Switch').item.json['Email Address'] }}\n\n{{ $('Switch').item.json.Feedback }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        480,
        -336
      ],
      "id": "4232a96f-1a3c-4bb1-b463-15b9a9321806",
      "name": "Send a message",
      "webhookId": "d8f4cc03-2d42-4315-84d0-ef6e64563694",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tv5tv9q0N3v6Ncbm",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09JHMVARL6",
          "mode": "list",
          "cachedResultName": "feature-request"
        },
        "text": "={{ $json.fields.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        464,
        48
      ],
      "id": "df67ab06-141f-4e68-ae52-2ae45ef0b81b",
      "name": "Send a message1",
      "webhookId": "e9aa68e1-0b75-49ca-8775-e6241a77314b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tv5tv9q0N3v6Ncbm",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge').item.json['Email Address'] }}",
        "subject": "Hey, we have Taken your Complain in Notice",
        "emailType": "text",
        "message": "=Hey  {{ $('Merge').item.json['Full Name'] }}\nWe have already taken your complaint into notice and your team is working on it and we shall get back to you on what the exact update is thank you so much for bringing this into our notice. we really value our customer and so your complaints and feedbacks matter a lot.\nWe should update you asap\nThank you",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        688,
        -336
      ],
      "id": "ecfd5e83-b89d-483d-b128-910083c519f5",
      "name": "Send a message2",
      "webhookId": "17ac8915-ecae-4168-ab69-6af2e2f4e34a",
      "credentials": {
        "gmailOAuth2": {
          "id": "rckl9LP5kTgW1H8P",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Complain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compliment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feature Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Request": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ca2db32-970a-465b-995e-ab7981b5d84f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e57eb7f174e5e9f7965261bf74ecaa6de3007e1b19deacdeb7e148a82bbc62b"
  },
  "id": "FlorwHDWdZ65zqYT",
  "tags": []
}