ai-real-estate-rag-agent-json.json
{
  "name": "Real Estate AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1W_VRIGrpEdJkaUZc-F3KoKpQVNNeO4I1",
          "mode": "list",
          "cachedResultName": "RAG Agent Data",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1W_VRIGrpEdJkaUZc-F3KoKpQVNNeO4I1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "94cc58e4-d6e0-4d9a-bdf3-8cd4d6790c4f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ivzZCcLI7C2RBbk9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "12wQMRE62fFCM6V9y8Y7P2tXxck26oZo0dIC-McI9sTk",
          "mode": "list",
          "cachedResultName": "London Real Estate Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12wQMRE62fFCM6V9y8Y7P2tXxck26oZo0dIC-McI9sTk/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "06435018-a5f6-4cb1-a679-fce09c8cdfe2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ivzZCcLI7C2RBbk9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "7999ba24-52e4-4cb5-b749-4444d3c2ba94",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const row = item.json;\n\n  const combinedRow = Object.entries(row)\n    .map(([key, val]) => `${key}: ${val}`)\n    .join(' | ');\n\n  return {\n    json: {\n      combinedRow\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "5d52ac07-b402-4589-ada5-13076074349c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        928,
        0
      ],
      "id": "9e697221-fb33-46e7-add1-6958fb5894ce",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "g0oBIVxf1GxW7YLI",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        128
      ],
      "id": "7682f84a-1557-4540-b4da-9d14d74d76f1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XgPhIsFUprE8zMnY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        176
      ],
      "id": "29100a70-07dd-4bd8-8766-fee683c689b8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "[]]=';",
        "chunkSize": 100000000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1328,
        80
      ],
      "id": "209c310e-66de-4890-bee8-323996632735",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -352
      ],
      "id": "e871197e-2009-4b30-99a8-7277541828bf",
      "name": "When chat message received",
      "webhookId": "e5650935-6491-4887-a883-88232e274999"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message:  {{ $json.chatInput }}",
        "options": {
          "systemMessage": "Whenever recommending properties, always include all the information about them, like address, description, price, size, bedrooms, and more."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        368,
        -352
      ],
      "id": "8e1500fa-4463-4e3f-8358-30a0f6e8f936",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        -176
      ],
      "id": "29cde722-c35b-4a00-946f-efb1aee4c92e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XgPhIsFUprE8zMnY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        -160
      ],
      "id": "548252ca-2289-419c-8c1b-08b3d415ab50",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Semantically search the data and return the best matching properties.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        864,
        -336
      ],
      "id": "dc7eb643-b837-4e1c-b224-fe64f77e864b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "g0oBIVxf1GxW7YLI",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        -160
      ],
      "id": "45d28f5d-1621-4894-b614-c1ea7955ca6e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XgPhIsFUprE8zMnY",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "642df6de-49ad-45f9-a4cb-c642ed833763",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bce5f1ac283a60920eb6f312dfe7bd53d21a942a8f6edee8b0006b65adda23f7"
  },
  "id": "wawSKWhkLHfNw2LZ",
  "tags": []
}