rag-knowledge-base-builder Step-1.json
{
  "name": "RAG Pre Data Step-1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16U-tLLZV2I4wf4pwaMRXLHWovTbffBGA",
          "mode": "list",
          "cachedResultName": "My N8N Knoledgebase",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16U-tLLZV2I4wf4pwaMRXLHWovTbffBGA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        64
      ],
      "id": "291b8405-bacd-4cd5-a2b2-6ce1462636cb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gPoRHTw1pRemeTiw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -960,
        64
      ],
      "id": "c47b5d60-c42a-4b3e-8bce-83a5c4ab5d73",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gPoRHTw1pRemeTiw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "myn8nrag",
          "mode": "list",
          "cachedResultName": "myn8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -704,
        64
      ],
      "id": "398672ff-ea0d-458c-9a78-488c173dec59",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "TCM43dBk8BJiXgOO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        320
      ],
      "id": "0eeb31e1-b495-43bb-a218-2149bd2976bc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NLIiyBAoOVfmRNeC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -608,
        288
      ],
      "id": "3d738c2a-8eb7-4764-a44f-58ec6443ff71",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -528,
        448
      ],
      "id": "c1749d14-312a-48e0-88cf-eb639fd19c93",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77affad4-b44c-4709-93cd-a80fcf7578a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c07abdf5e455ea93d182a6d7e1e832cc121a6166e5ac963c1b60742abb02c0d3"
  },
  "id": "5gfLWU5Qxsjs8CDX",
  "tags": []
}