Second Brain App - Core Logic.json
{
  "name": "Second Brain App - Core Logic",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "78467d62-2b0b-4149-a83a-3e38d490fb50",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        208
      ],
      "webhookId": "your-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "ctdGshRlIJYPjjJx",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.voice.file_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5036b53c-ab44-46be-9707-cd41f838a382",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        208
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "7a46a0f0-c669-4ca5-8332-dfbcde04d0a0",
      "name": "Get Audio File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        0,
        128
      ],
      "webhookId": "4dc8519b-997e-4cdc-82e5-ba749d76341d",
      "credentials": {
        "telegramApi": {
          "id": "ctdGshRlIJYPjjJx",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "2b0cfc5f-94ef-4bac-8579-d301ccf455b6",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Current Date: {{ $now.format('yyyy-MM-dd') }}\n\nYou are Memorae, a smart assistant.\nRULES:\n1. \"Task\": Future actions (e.g., \"Kal cricket khelna hai\").\n2. \"Note\": Saving info (e.g., \"Car number is 1234\").\n3. \"Question\": If user ASKS something (e.g., \"Meri meeting kab hai?\").\n\nOutput JSON only:\n{\n  \"type\": \"Task\" OR \"Note\" OR \"Question\",\n  \"content\": \"User text\",\n  \"reminder_time\": \"YYYY-MM-DD HH:mm:ss\" OR null\n}"
            },
            {
              "content": "=Today is {{ $now.format('yyyy-MM-dd') }}.\nUser Input: {{ $json.text || $json.message.text }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "f0f5245e-d827-4137-b5e2-497c79cf9eb1",
      "name": "AI Brain (Router)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        672,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "MzAiadsu7jQr2tVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yyvsVz7G2Gx3zacQmLypqDghqU35LY6IziJeSnRSa-g",
          "mode": "list",
          "cachedResultName": "Memorae Workflow Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyvsVz7G2Gx3zacQmLypqDghqU35LY6IziJeSnRSa-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yyvsVz7G2Gx3zacQmLypqDghqU35LY6IziJeSnRSa-g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "User Name": "={{ $('Telegram Trigger').item.json.message.from.first_name }} {{ $('Telegram Trigger').item.json.message.from.last_name }}",
            "Type (Task/Note)": "={{ JSON.parse($json.message.content).type }}",
            "Content": "={{ JSON.parse($json.message.content).content }}",
            "Reminder Time": "={{ JSON.parse($json.message.content).reminder_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Name",
              "displayName": "User Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type (Task/Note)",
              "displayName": "Type (Task/Note)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminder Time",
              "displayName": "Reminder Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f39e9e3a-b0fb-4748-a61b-f39f2a16bd38",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VHKvJMA67vCMKtrO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        128
      ],
      "id": "1167c053-f6e8-4679-8b71-20093e120994",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "MzAiadsu7jQr2tVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "memorae",
          "mode": "list",
          "cachedResultName": "memorae"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1216,
        176
      ],
      "id": "d185004b-bfc7-449c-9233-27d7c1cbb392",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "8HYQAbW4FICuRocg",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        448
      ],
      "id": "5e8511df-3d99-4d57-b497-337b976bef28",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "MzAiadsu7jQr2tVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "date",
                "value": "={{ $now }}"
              },
              {
                "name": "type",
                "value": "={{ JSON.parse($json.message.content).type }}"
              },
              {
                "name": "chat_id",
                "value": "={{ $('Telegram Trigger').first().json.message.chat.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1328,
        432
      ],
      "id": "b6e304fc-9499-4da2-8668-5a5de9cb6e01",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.content).type }}",
                    "rightValue": "Question",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "9b073fa5-6397-4f44-b230-9f4628a86da2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "30be9cf3-dddd-484d-887e-1da2bb973046",
                    "leftValue": "={{ JSON.parse($json.message.content).type }}",
                    "rightValue": "Question",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        208
      ],
      "id": "8ae25f94-3591-4549-9f91-9b3a9b6a9b5c",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.parse($json.message.content).content }}",
        "options": {
          "systemMessage": "=You are a helpful assistant. Answer the user's question using the provided context information. Keep the answer short and natural."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -432,
        416
      ],
      "id": "ce1ac53e-ec5c-4bee-8f3d-b02bfede32cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -432,
        608
      ],
      "id": "4fe5354a-0a1e-4660-9049-fdb5638202ac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MzAiadsu7jQr2tVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool to search for the user's past notes, tasks, meetings, and saved memories."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -128,
        560
      ],
      "id": "054b3a4b-6fd0-4ab8-af07-95878a1156b8",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        704
      ],
      "id": "49cd16b7-a8e6-469c-bde4-70f9a2476e3c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MzAiadsu7jQr2tVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        768
      ],
      "id": "4235a9bb-2c5f-42f2-b259-8f3c6a6d5773",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "MzAiadsu7jQr2tVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "memorae",
          "mode": "list",
          "cachedResultName": "memorae"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -304,
        672
      ],
      "id": "b50cf9ec-66c0-4064-aa3d-546e3849a232",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "8HYQAbW4FICuRocg",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        416
      ],
      "id": "a474a26d-2820-4485-b74f-add4afa146f2",
      "name": "Send a text message",
      "webhookId": "b2027e3c-c6c4-4cc5-ac74-817a0690d3bb",
      "credentials": {
        "telegramApi": {
          "id": "ctdGshRlIJYPjjJx",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5fceb5bb-4d27-487c-af19-345ec549eb57",
              "leftValue": "={{ JSON.parse($json.message.content).reminder_time }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        608
      ],
      "id": "58937c4b-af58-4427-9870-6d2aaf706883",
      "name": "If"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ranveermotivation@gmail.com",
          "mode": "list",
          "cachedResultName": "ranveermotivation@gmail.com"
        },
        "start": "={{ JSON.parse($json.message.content).reminder_time.replace(\" \", \"T\") }}",
        "end": "={{ DateTime.fromISO(JSON.parse($json.message.content).reminder_time.replace(\" \", \"T\")).plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "summary": "={{ JSON.parse($json.message.content).content }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1040,
        592
      ],
      "id": "af52f27e-f1c6-4d00-a81c-19822b616bbc",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RNsjSNLsSmsUFMxc",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Audio File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "AI Brain (Router)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Brain (Router)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "13d08878-d587-4200-b3ff-f7be98c66271",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfbccd06b3f6541766640391edabb69489f6d36b5960b9fb13b442132794cb3c"
  },
  "id": "dipBgp4D3MXK8_O_YmUEv",
  "tags": []
}